<h1>
    Completion Page
</h1>
You just completed a todo item : <strong><%= todoOne.item %></strong>
that you created on <i><%= todoOne.createdAt %></i><br>
<h3>Congradulations! </h3>
<a href = "/todo">Return to your todo list page</a>
user is <b><%= user.googlename %> </b>
and their email is <i><%= user.googleemail %></i>